{% extends "home/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="top-header text-light px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Edit Profile</h1>
    </div>
    <div class="container">
      <div class="card-deck">
			<div class="card text-white bg-dark mb-4 shadow-sm">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">{{ user.username }}'s Profile</h4>
				</div>
				<div class="card-body">
					<div class="content-section">
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<fieldset class="form-group">
								{{ user_form|crispy }}
								<div class="media">
									<img class="rounded-circle article-img img-thumbnail" style="width:128px" src="{{ user.profile.image.url }}">
								</div>
								{{ profile_form|crispy }}
							</fieldset>
							<div class="form-group">
								<button class="btn btn-outline-info" type="submit">Update</button>
							</div>
						</form>
					</div>
				</div>
			</div>
      </div>
    </div>
{% endblock content %}
